/*
  Series of alternating elements; usually image-text, text-image, image-text, etc.
*/

.alternating {
	display: flex;
	align-content: center;
  flex-flow: column nowrap;
	font-size: 1.4em;
  max-width: max(60vw, min(100vw, 40em));
  margin: auto;
}
.alternating > * {
	display: grid;
	grid-column: 2 / 3;
	align-self: flex-start;
	grid-template-columns: 1fr 2fr;
	grid-gap: 1em;
	grid-template-areas: "image text text";
	margin: 0;
}
.alternating > *:nth-child(even) {
  direction: rtl;
}
.alternating > * > * {
	display: flex;
	justify-content: center;
	align-items: center;
}
