/*
  Series of alternating elements; usually image-text, text-image, image-text, etc.
*/

.alternating {
	display: grid;
	align-items: center;
	grid-template-columns: 1fr auto 1fr;
	grid-gap: 1.61em;
	font-size: 1.4em;
}
.alternating > * {
	grid-column: 2 / 3;
	align-self: flex-start;
	display: grid;
	grid-template-columns: repeat(3, 20vw);
	grid-gap: 1em;
	grid-template-areas: "image text text";
	margin: 0;
}
.alternating > *:nth-child(even) {
	grid-template-areas:
		"text text image";
}
.alternating > * > *:nth-child(1) {
	grid-area: image;
}
.alternating > * > *:nth-child(2) {
	grid-area: text;
	padding: 1em 2em;
}
.alternating > * > * {
	display: flex;
	justify-content: center;
	align-items: center;
}
