/*
description: Series of alternating elements; usually image-text, text-image, image-text, etc.
classes:
- name: alternating
	description: A box of alternating elements
	properties:
		- name: first-element-multiplier
			description: How much bigger the first element should be proportionally.
*/

.alternating {
	display: flex;
	flex-flow: column nowrap;
	align-content: center;
	font-size: 1.4em;
	max-width: max(60vw, min(100vw, 40em));
	margin-left: auto;
	margin-right: auto;
	gap: .6em;
}
.alternating > * {
	display: flex;
	flex-flow: row wrap;
	width: 100%;
	grid-column: 2 / 3;
	align-self: flex-start;
	grid-template-columns: 2fr;
	grid-auto-columns: 1fr;
	grid-gap: 1em;
	margin: 0;
	gap: .6em;
} .alternating > *:nth-child(even) {
	flex-direction: row-reverse;
}
.alternating>*>* {
	direction: initial;
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1 1 0;
	border: .1em dashed purple;
}
.alternating>*>*:first-child {
	flex-grow: var(--first-element-multiplier, 2);
}
