/* ============ */
/* STYLE RESETS */
/* ============ */

* {
	box-sizing: border-box;
	line-height: 1em;

	margin: 0;
	padding: 0;

	color: inherit;
	font-family: inherit;
	font-weight: normal;
	text-decoration: inherit;
}

:root {
	background-color: hsl(0deg, 0%, 90%);
	font-family: sans-serif;
}

h1, h2, h3, h4 {
	font-family: serif;
}

h1 { font-size: 2em; }
h2 { font-size: 1.6em; }
h3 { font-size: 1.4em; }
h4 { font-size: 1.2em; }
h5, h6 { font-size: 1em; }

table {
	border-collapse: collapse;
}

table td, table th {
	padding: .2em .6em;
	border: 1px solid black;
}

/* =================== */
/* SEMANTIC CONTAINERS */
/* =================== */

/* Set some default grid-areas for often-used elements */
main { grid-area: main; }
header { grid-area: header; }
footer { grid-area: footer; }
aside { grid-area: aside; }

/* Make everything larger in the header */
header {
	font-size: 1.4em;
}

/* Automatic spacing in some semantic containers */
main > *+* {
	margin-top: 3em;
}
article > *+* {
	margin-top: 1em;
}
