/*
description: This file contains general resets and axiomatic styling rules.
*/

/* ============ */
/* STYLE RESETS */
/* ============ */

:root {
	font-family: sans-serif;
	line-height: 1em;
}

* {
	line-height: inherit;
	box-sizing: border-box;

	margin: 0;
	padding: 0;

	color: inherit;
	font-family: inherit;
	font-weight: inherit;
	text-decoration: inherit;
}

h1 { font-size: 2em; }
h2 { font-size: 1.6em; }
h3 { font-size: 1.2em; }
h4 { font-size: 1.1em; }
h5, h6 { font-size: 1em; }

table {
	border-collapse: collapse;
}

table td, table th {
	padding: .2em .6em;
	border: 1px solid currentcolor;
}

/* =================== */
/* SEMANTIC CONTAINERS */
/* =================== */

/* Set some default grid-areas for often-used elements */
main { grid-area: main; }
header { grid-area: header; }
footer { grid-area: footer; }
aside { grid-area: aside; }
