.flex {
	display: flex;
	justify-content: center;
	flex-flow: row no-wrap;
}
.flex.column {
	flex-direction: column;
}
.flex.reverse {
	flex-direction: row-reverse;
}
.flex.reverse.column {
	flex-direction: column-reverse;
}
.flex.wrap {
	flex-wrap: wrap;
}
