[column], [row], .flex {
  display: flex;
  justify-content: center;
  flex-flow: row no-wrap;
}
.flex.column, [column] {
  flex-direction: column;
}
.flex.reverse, [row] {
  flex-direction: row-reverse;
}
.flex.column.reverse, [column][reverse] {
  flex-direction: column-reverse;
}
.flex.row.reverse, [row][reverse] {
  flex-direction: row-reverse;
}
.flex.wrap, [wrap] {
  flex-wrap: wrap;
}
