.grid {
	display: grid;
	grid-template-rows: repeat(attr('rows'), 1fr); /* Experimental */
	grid-template-columns: repeat(attr('columns'), 1fr); /* Experimental */
}

/* attr fallbacks */
.grid[columns="2"] { grid-template-columns: repeat(2, 1fr); }
.grid[columns="3"] { grid-template-columns: repeat(3, 1fr); }
.grid[columns="4"] { grid-template-columns: repeat(4, 1fr); }
.grid[columns="6"] { grid-template-columns: repeat(6, 1fr); }
.grid[columns="8"] { grid-template-columns: repeat(8, 1fr); }

[span] {
	grid-column: span attr(span); /* Experimental */
}

[span="full"] { grid-column: 1/-1; }

/* attr fallbacks */
[span="2"] { grid-column: span 2; }
[span="3"] { grid-column: span 3; }
[span="4"] { grid-column: span 4; }
[span="6"] { grid-column: span 6; }
[span="8"] { grid-column: span 8; }

.grid[gap] {
	grid-gap: attr(gap)em; /* Experimental */
}

/* attr fallbacks */
.grid[gap=".2"] { grid-gap: .2em; }
.grid[gap=".4"] { grid-gap: .4em; }
.grid[gap=".6"] { grid-gap: .6em; }
.grid[gap=".8"] { grid-gap: .8em; }
.grid[gap="1"]  { grid-gap:  1em; }
