@layer flex {
	flex-row, flex-column {
		display: flex;
		justify-content: center;
		flex-flow: row nowrap;
	}
	flex-row {
		flex-direction: row;
	}
	flex-column {
		flex-direction: column;
	}
	flex-row[reverse] {
		flex-direction: row reverse;
	}
	flex-column[reverse] {
		flex-direction: column reverse;
	}
	:is(flex-row, flex-column)[wrap] {
		flex-wrap: wrap;
	}
	:is(flex-row, flex-column):is([center], [centre]) {
		align-items: center;
	}
	flex-row[start] { justify-content: flex-start; }
	flex-row[end] { justify-content: flex-end; }

	flex-row[spread] { justify-content: space-between; }
	flex-row[spread=around] { justify-content: space-around; }
	flex-row[spread=evenly] { justify-content: space-evenly; }

	@container (width <= 20rem) { flex-row[break="20"] { flex-direction: column } }
	@container (width <= 40rem) { flex-row[break="40"] { flex-direction: column } }
	@container (width <= 60rem) { flex-row[break="60"] { flex-direction: column } }
	@container (width <= 80rem) { flex-row[break="80"] { flex-direction: column } }
	@container (width <= 100rem) { flex-row[break="100"] { flex-direction: column } }
	@container (width <= 120rem) { flex-row[break="120"] { flex-direction: column } }

	@media (max-width: 300px) { flex-row[break="tin"] { flex-direction: column } }
	@media (max-width: 700px) { flex-row[break="small"] { flex-direction: column } }
	@media (max-width: 1900px) { flex-row[break="medium"] { flex-direction: column } }
	@media (orientation: portrait) { flex-row[break="portrait"] { flex-direction: column } }

	/* FLEX GRID */

	flex-grid {
		--column-width: 20em;
		display: flex;
		flex-flow: row wrap;
	}

	flex-grid > * {
		flex: var(--column-width);
		flex-grow: 0;
	}

	flex-grid > img {
		width: 100%;
		max-width: var(--column-width);
		height: auto;
	}

	flex-grid[column-width] { --column-width: attr(column-width type(<length>)); }

	:is(flex-row, flex-column, flex-grid) {
		gap: var(--gap, 0px);

		&[gap] {
			--gap: attr(gap em); /* Experimental */
		}

		/* attr fallbacks */
		&[gap=".1"] { --gap: .1em; }
		&[gap=".2"] { --gap: .2em; }
		&[gap=".4"] { --gap: .4em; }
		&[gap=".6"] { --gap: .6em; }
		&[gap=".8"] { --gap: .8em; }
		&[gap="1"] { --gap:  1em; }
		&[gap="2"] { --gap:  2em; }
		&[gap="3"] { --gap:  3em; }
	}
}
