@layer grid {
	@layer static {
		grid-box {
			--columns: 1; /* Fallback */
			--columns: attr(columns, 1); /* Experimental */
			display: grid;
			grid-template-columns: repeat(var(--columns), 1fr);
		}

		grid-box[center] { justify-items: center; }

		/* attr fallbacks */

		grid-box[columns="2"] { --columns: 2; }
		grid-box[columns="3"] { --columns: 3; }
		grid-box[columns="4"] { --columns: 4; }
		grid-box[columns="6"] { --columns: 6; }
		grid-box[columns="8"] { --columns: 8; }

		grid-box[gap] {
			gap: attr(gap em, 0em); /* Experimental */
		}

		/* attr fallbacks */
		grid-box[gap=".1"] { gap: .1em; }
		grid-box[gap=".2"] { gap: .2em; }
		grid-box[gap=".4"] { gap: .4em; }
		grid-box[gap=".6"] { gap: .6em; }
		grid-box[gap=".8"] { gap: .8em; }
		grid-box[gap="1"]  { gap:  1em; }
		grid-box[gap="2"]  { gap:  2em; }
		grid-box[gap="3"]  { gap:  3em; }

		[span] {
			grid-column: span attr(span); /* Experimental */
		}

		[span="full"] { grid-column: 1/-1; }

		/* attr fallbacks */
		[span="2"] { grid-column: span 2; }
		[span="3"] { grid-column: span 3; }
		[span="4"] { grid-column: span 4; }
		[span="6"] { grid-column: span 6; }
		[span="8"] { grid-column: span 8; }
	}

	@layer responsive {
		grid-box[wrap] { flex-flow: column nowrap }
		grid-box[wrap][center] { align-items: center; }

		@container (width <= 40rem) { grid-box[break="40"] { display: flex; } }
		@container (width <= 60rem) { grid-box[break="60"] { display: flex; } }
		@container (width <= 80rem) { grid-box[break="80"] { display: flex; } }
		@container (width <= 100rem) { grid-box[break="100"] { display: flex; } }
		@container (width <= 120rem) { grid-box[break="120"] { display: flex; } }

		@media (max-width: 360px) { grid-box[break="tiny"] { display: flex; } }
		@media (max-width: 720px) { grid-box[break="small"] { display: flex; } }
		@media (max-width: 1920px) { grid-box[break="medium"] { display: flex; } }

		@media (orientation: portrait) { grid-box[break="portrait"] { display: flex; } }
	}
}

