@layer presence {
	@media not (max-width: 500px) {
		only-mobile, .only-mobile { display: none; visibility: hidden; }
	}
	@media (max-width: 500px) {
		no-mobile, .no-mobile {  display: none; visibility: hidden;  }
	}
	@media (min-width: 1500px) {
		no-desktop, .no-desktop {  display: none; visibility: hidden;  }
	}
	@media not (min-width: 1500px) {
		only-desktop, .only-desktop { display: none; visibility: hidden; }
	}
	@media (orientation: landscape) {
		only-landscape, .only-landscape { display: none; visibility: hidden; }
	}
	@media (orientation: portrait) {
		only-portrait, .only-portrait { display: none; visibility: hidden; }
	}
}

@layer placement {
	.full-width {width: 100%;}
	.max-content { width: max-content; }
	.min-content { width: min-content; }
}

@layer overflow {
	.scroll-x { overflow-x: auto; }
	.scroll-y { overflow-y: auto; }

	.hidden-x { overflow-x: hidden; }
	.hidden-y { overflow-y: hidden; }
}

:is(.content-width, content-width) {
	max-width: var(--content-width);
	margin-left: auto;
	margin-right: auto;
}
