@layer components {
	.badge {
		line-height: 1em;
		color: white;
		background: var(--color, orange);
		padding: .4em;
		margin: .2em;
		font-size: .6em;
		vertical-align: super;
		border-radius: var(--corner-radius, 0px);
	}

	.badge[title]::before { content: attr(title); }

	.badge.small, small.badge {
		padding: .2em .4em;
		font-weight: bold;
		font-size: .5em;
		vertical-align: top;
		position: relative;
		top: -.6em;
	}
}
