@layer components {
	code, var, samp, kbd {
		box-sizing: border-box;
	}

	pre>:is(code, var, samp) {
		overflow: auto;
		display: block;
		border-radius: var(--corner-radius, 0px);
		line-height: 1.6em;
	}

	var, kbd {
		white-space: nowrap;
	}
}
