code, var, samp, kbd {
	all: unset;
	box-sizing: border-box;
	font-family: "Courier New", monospace;
}

pre>:is(code, var, samp) {
	overflow: auto;
	display: block;
	border-radius: var(--corner-radius, 0px);
	line-height: 1.6em;
}

var, kbd {
	white-space: nowrap;
}
