@keyframes hero-parallax-scroll {
	from { transform: translate(0, 0); }
	to   { transform: translate(0, var(--parallax-offset, 40vh)); }
}

@layer components {
	page-hero {
		font-size: 1.4em;
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
		justify-content: center;

		container-type: size;
		contain: paint;

		min-height: attr(cover vh, 0em);
		/* Fallbacks until attr is widely supported */
		&[cover="40"] { min-height: 40vh; }
		&[cover="50"] { min-height: 50vh; }
		&[cover="60"] { min-height: 60vh; }
		&[cover="70"] { min-height: 70vh; }
		&[cover="80"] { min-height: 80vh; }
		&[cover="90"] { min-height: 90vh; }
		&[cover="100"] { min-height: 100vh; }

		padding-block: 2em;
		&[cover] { padding-block: 0; }

		/* Special override for HEADER+HERO combinations */
		header:not(.fixed)+&[cover="100"] { min-height: calc(100vh - var(--header-height, 5rem)); }

		@media (max-width: 60rem) {
			font-size: 1.2em;
		}

		+*, +.\+join-hero+* {
			margin-top: 2rem;
		}

		+.\+join-hero {
			margin-top: 0;
		}

		z-index: 0;
		position: relative;

		> *+* { margin-top: 1.2em; }

		> .parallax {
			--parallax-offset: 30vh;
			position: absolute;
			height: 100%;

			@supports (animation-timeline: view(block auto 100vh)) {
				animation-timeline: view(block auto 100vh);
				animation-name: hero-parallax-scroll;
				animation-fill-mode: both;
				animation-duration: 1ms; /* Firefox requires this to apply the animation */
				animation-timing-function: linear;
			}
		}

		> img:first-child {
			--parallax-offset: 40vh;

			position: absolute;
			z-index: -1;
			width: 100%;
			height: 100%;
			top: 0;
			margin: 0;
			object-fit: cover;

			&+* {
				margin-top: 0;
			}
		}

		hgroup {
			display: flex;
			flex-flow: column;
			align-items: center;

			text-align: center;
			text-wrap: balance;
		}

		& + header {
			margin-top: 0;
		}
	}
}
