@layer nav {
	nav {
		--nav-border-style: var(--line-width, .2rem) solid var(--hr-color, #6662);
		display: flex;
		flex-flow: column;
	}

	nav :is(ul, ol, li) { display: contents; }

	nav a {
		margin-left: .1em;
		padding-left: 1.2em;
		border-left: var(--nav-border-style);
		transition:
			color .2s;
		color: inherit;
		text-decoration: unset;
	}

	nav a:hover {
		color: var(--color, orange);
	}

	nav .active {
		border-color: var(--color, orange);
		font-weight: bold;
	}
}
