@property --nav-depth {
	syntax: <number>;
	inherits: true;
	initial-value: 0;
}

@layer nav {
	@scope (nav:not(.bar)) to (nav) {
		:scope {
			display: flex;
			flex-flow: column;
			--nav-depth: -1;

			:is(ul, ol, li) { display: contents; }

			:is(ul, ol) {
				/* --nav-depth: calc(inherit + 1); */
				--nav-depth: 0;
			}
		}

		a {
			line-height: 2em;
			padding-left: calc(1em + calc(1.4em * var(--nav-depth, 0)));
			border-left: var(--line-width, .2rem) solid var(--hr-color, #6662);
			transition:
				color .2s;
			color: inherit;
			text-decoration: unset;

			&:hover {
				border-color: var(--color, orange);
				color: var(--color, orange);
			}
		}

		.active {
			border-color: var(--color, orange);
			font-weight: bold;
		}

		:scope details {
			summary::before { display: none; }
			:is(ul, ol) {
				flex-flow: column;
				display: flex;
				padding-left: 0;
			}
		}
	}
}
