@layer navbar {
	header > nav.bar { height: var(--header-height) }

	@scope (nav.bar) to (nav) {
		:scope {
			all: unset;
			/* Placement */
			flex: max-content;
			/* Layout */
			display: flex;
			align-items: center;

			&.right {
				justify-content: flex-end;
			}

			:is(ul, ol, li) { display: contents; }

			a {
				transition: color .2s;
				color: inherit;
				text-decoration: unset;

				&:hover {
					color: var(--color, orange);
					border-color: var(--color, orange);
				}

				border: 0 solid var(--hr-color);
			}

			&.underlined a {
				border-bottom-width: .2em;
			}

			&.overlined a {
				border-top-width: .2em;
			}
		}

		a {
			height: 100%;
			padding: .6em;
			margin: 0px;
			display: flex;
			align-items: center;
		}
	}
}

@layer scroll {
	:is(html,body)[scroll="0"] header nav.bar.underlined a:not(:hover) { border-bottom-color: transparent }
}
