@layer quote {
	/* BLOCK */

	blockquote {
		--stripe-width: var(--line-width, .2rem);
		--padding: 1em;
		padding: var(--padding);
		padding-left: calc(var(--padding) + var(--stripe-width));
		position: relative;
	}

	blockquote cite {
		display: block;
		margin-top: 1em;
		opacity: .8;
		font-size: .8em;
	}

	/* INLINE */

	q {
		font-style: italic;
	}
}
