@layer spinner {
	@keyframes spinner {
		from { transform: rotate(0deg) }
		to { transform: rotate(360deg) }
	}

	spin-spin {
		--thickness: 1.4;
		all: unset;

		display: inline-block;
		aspect-ratio: 1 / 1;
		width: 1em;
		height: auto;

		/* Styling */
		color: var(--color);
		border-radius: 50%;
		border: calc(var(--thickness) * .14em) solid color-mix(in hsl, currentcolor, transparent 60%);
		border-top-color: currentcolor;

		animation: spinner 1s infinite cubic-bezier(.4, .2, .6, .8);

		&[thick] { --thickness: 2; }
		&[thin] { --thickness: .8; }

		&[size="2"] { font-size: 2em; }
		&[size="3"] { font-size: 3em; }
		&[size="4"] { font-size: 4em; }
	}
}
